body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
dl,
dd {
  margin: 0;
}
ul,
ol {
  padding-left: 0;
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
@media (min-width: 780px), print {
  .column-1 {
    width: 33.33333333%;
  }
  .column-2 {
    width: 66.66666667%;
  }
  .column-3 {
    width: 100%;
  }
  .column-1, .column-2, .column-3 {
    float: left;
    box-sizing: border-box;
  }
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after {
  content: " ";
  display: table;
}
.clearfix:after,
.container:after {
  clear: both;
}
body {
  font: 16px/2 Helvetica, Arial, 'Microsoft Yahei', '宋体', sans-serif;
  background: #e0e0e0;
}
h1 {
  font-size: 34px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 16px;
}
.container {
  max-width: 1020px;
  margin: 0 auto;
  overflow: hidden;
  background: #3B4752;
  border-radius: 4px;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.4);
}
@media (min-width: 1020px) {
  .container {
    margin: 10px auto;
  }
}
aside {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}
aside li {
  margin-top: 10px;
  background: rgba(59, 71, 82, 0.8);
  border-radius: 10px 0 0 10px;
  box-shadow: -4px 0 2px -2px rgba(0, 0, 0, 0.5);
}
aside li:hover {
  background: #667a8d;
}
aside a {
  display: inline-block;
  padding: 10px;
  width: 100%;
  color: #fff;
}
@media (max-width: 1020px) {
  aside {
    display: none;
  }
}
article {
  padding: 20px;
}
strong {
  color: #667a8d;
}
.sidebar {
  color: #fff;
}
.sidebar li {
  margin-top: 20px;
}
.sidebar dt {
  font-size: 20px;
  line-height: 3;
}
.sidebar a:hover {
  text-decoration: underline;
}
.evaluation {
  margin-top: 40px;
  line-height: 2;
}
.main {
  background: #F5F5F5;
  color: #000;
}
.main p {
  color: #666;
}
.main h2 {
  border-bottom: 1px solid #3B4752;
  line-height: 2;
}
.main h3 {
  line-height: 2;
  margin-left: 10px;
}
.main h4 {
  line-height: 1;
  margin: 10px 0;
}
.project ul,
.skill ul {
  border-left: 2px solid #3B4752;
}
.project li,
.skill li {
  padding-left: 16px;
  margin-bottom: 2em;
}
.project li:before,
.skill li:before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-left: -25px;
  background: #3B4752;
}
.project-aside {
  float: right;
}
.project-aside a {
  display: inline-block;
  border: 1px solid #3B4752;
  font-size: 14px;
  padding: 0 0.5em;
  margin-left: 0.5em;
  border-radius: 7px;
  color: #506170;
}
.project-aside a:hover {
  background: #667a8d;
  color: #fff;
  text-decoration: none;
}
